/* CSS custom properties / CSS variables */

:root {
  --teal: #008080;
  --royalblue: #4169e1;
  --violet: #9400d3;
  --green: #008000;
  --magenta: #8b008b;
}

/* Use attribute selectors for the first part of the exercise */
/* =========================
   PART 1: Attribute Selectors
   ========================= */

li[class="dog"] {
  color: var(--teal);
}

li[id="cat"] {
  color: var(--royalblue);
}

li[class~="parrot"] {
  color: var(--violet);
}

li[class="donkey"] {
  color: var(--green);
}

li[class="hedgehog"] {
  color: var(--magenta);
}

/* =========================
   PART 2: Parent & Sibling Selectors
   ========================= */

.list-food > ol > li:first-child {
  color: var(--teal);
}

.list-food > ol > li:nth-child(2) {
  color: var(--royalblue);
}

.first + li + li {
  color: var(--violet);
}


.list-food > ol > li:nth-child(4) {
  color: var(--magenta);
}

.list-cleaning ol li {
  color: var(--green);
}


/* Use descendant, child, and sibling selectors for the second part */
