:root {
  --gold: #ffd700;
}

body {
  color: var(--black);
}

.header,
.section,
.aside {
  box-sizing: border-box;
  padding: 10px;
  border: 4px solid var(--black);
}

.header {
  background-color: var(--blue);
  margin-bottom: 10px;
}

.section {
  display: inline-block;
  width: 75%;
  height: 300px;
  background-color: var(--orange);
  vertical-align: top;
}

.aside {
  display: inline-block;  
  width: 25%;
  height: 300px;
  background-color: var(--gold);
  vertical-align: top;
}
