:root {
  --darkviolet: #9400d3;
  --maroon: #800000;
  --darkgolden: #8f6805;
}

.box {
  padding: 10px;
  color: var(--white);
  box-sizing: border-box; /* IMPORTANT: makes 50px stay 50px even with padding */
}

/* colors (given) */
.static {
  background-color: var(--darkviolet);
}

.relative {
  background-color: var(--purple);
}

.absolute {
  background-color: var(--maroon);
}

.fixed {
  background-color: var(--darkgolden);
}

/* =========================
   POSITION RULES (your work)
   ========================= */

.container {
  position: relative;      /* makes .absolute position inside this container */
  height: 500px;           /* 50px top + 400px boxes + 50px bottom */
  width: 600px;            /* two 300px boxes */
  margin: 40px auto;       /* center like the other exercises */
  background: var(--white);
}

/* ABSOLUTE (top bar) */
.absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

/* STATIC (left purple box) */
.static {
  position: static;
  width: 300px;
  height: 400px;
  display: inline-block;
  margin-top: 50px;        /* start below the top bar */
  vertical-align: top;
}

/* RELATIVE (right purple box) */
.relative {
  position: relative;
  width: 300px;
  height: 400px;
  display: inline-block;
  margin-top: 50px;        /* start below the top bar */
  vertical-align: top;
}

/* FIXED (bottom bar) */
.fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
}